{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/common.css' %}" rel="stylesheet" />
    {% block css %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<header class="w3-container w3-teal"><h1>{% block header %}{% endblock %}</h1></header>
<nav>
    <ul>
        <li><a class="w3-button w3-red" href="{% url 'main:hello' %}">Home</a></li>
        <li><a class="w3-button w3-green" href="{% url 'news:list' %}">Posty</a></li>
        <li><a class="w3-button w3-yellow" href="{% url 'main:author' %}">O autorze</a></li>
        <li><a class="w3-button w3-blue" href="{% url 'preassures:intro' %}">Ciśnienia</a></li>
        {% if user.is_authenticated %}
            <li><a class="w3-button w3-blue" href="{% url 'logout' %}">Wyloguj się</a></li>
        {% else %}
            <li><a class="w3-button w3-blue" href="{% url 'login' %}">Zaloguj się</a></li>
        {% endif %}
    </ul>
</nav>
{% block content %}{% endblock %}
<footer><p>{% block footer %}{% endblock %}</p></footer>
</body>
</html>