{% extends 'base.html' %}
{% load static %}
{% block title %}Lista postów{% endblock %}
{% block header %}Lista postów...{% endblock %}
{% block css %}<link href="{% static 'news/css/news.css' %}" rel="stylesheet" />{% endblock %}
{% block content %}
<p>Ilość postów: {{ cnt }}.</p>
{% for post in posts %}
    <div class="post-in-list">{{ post.title }}
    <details>
        <p>
        <summary>Czytaj</summary>
        {{ post.content|truncatechars:20 }}
        <a href="{{ post.get_absolute_url }}">Czytaj więcej...</a>
        </p>
    </details>
    </div>
{% endfor %}
{% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}">Poprzednia</a>
{% endif %}
Strona <span class="w3-badge w3-red">{{ posts.number }}</span> z {{ posts.paginator.num_pages }}
{% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">Następna</a>
{% endif %}
{% endblock content %}
{% block footer %}Ta strona została stworzona przez {{ imie }}.{% endblock %}
